{{ "<!-- About -->" | safeHTML }}
<section id="about">
    <div class="about">
        <div class="about-left">
            <img src="img/{{ .Site.Params.About.Avatar }}" style="max-width: 50%; border-radius: 50%; ">
            <h2 class="subtitle">{{ .Site.Params.About.subtitle }}</h2>
            
            <div class="icons">
                {{ if isset .Site.Params.About "email" }}
                    <a href="mailto:{{ .Site.Params.About.email }}">
                        <i class="fas fa-envelope"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.About "facebook" }}
                    <a href="{{ .Site.Params.About.facebook }}" target="blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.About "linkedin" }}
                    <a href="{{ .Site.Params.About.linkedin }}" target="blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.About "github" }}
                    <a href="{{ .Site.Params.About.github }}" target="blank">
                        <i class="fab fa-github"></i>
                    </a>
                {{ end }}
                {{ if isset .Site.Params.About "twitter" }}
                    <a href="{{ .Site.Params.About.twitter }}" target="blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                {{ end }}
            </div>

            {{ if isset .Site.Params.About "resume" }}
            <a href="{{ .Site.Params.About.Resume }}" target="blank" class="download-resume" onclick="ga('send', {hitType: 'event',eventCategory: 'CTA',eventAction: 'download'});">
                <img style="position: relative;top: 1.8px;padding-right: 6px;" src="svg/dl-resume.svg">
                Download Resume</a>
            {{ end }}
        </div>
        <div class="about-right">
            {{ range $paragraph := .Site.Params.About.about_right }}
                <p>{{ $paragraph | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</section>